@font-face {
  font-family: "f1";
  /* src: url("./F1.woff2") format("woff2"); */
}

body {
  margin: 0;
  font-family: f1, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
